{% extends 'appisn/index.html' %}

{% load static%}

{% block title %} Formulario - Agregar Curso {% endblock title%}


{% block contenidoQueCambia %}


    <form action="" method="POST">{% csrf_token %}
        <p>Profesor: <input type="text" name="nombre"></p>
        <p>Apellido : <input type="text" name="apellido" ></p>
        <p>email: <input type="text" name= "email"></p>
        <p>Profesion: <input type="text" name= "profesion"></p>
        <input type="submit" value="Enviar">

    </form>

{% endblock %}